@{
    ViewBag.Title = "BIOSKOP POKLON KARTICA!";
    ViewBag.Message = "POKLONI NEZABORAVNE TRENUTKE. POKLONI BIOSKOP.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Content/PoklonKartica/PoklonKartica.jpg" />
</div>

<p>Neka vaš poklon za najdraže bude drugačiji, sa mnogo stila, neponovljiv i originalan. Pitate se kako? Bioskop je već upakovao jedan baš takav poklon, na vama je samo da ga uručite dragim osobama i uživate u njihovom osmehu.</p>
<p>Poklonite im Bioskop poklon karticu!</p>
<p>Pravo vreme za poklone je ono kada odlučite da uživate u osmehu najdražih, bez povoda, datuma i posebnog razloga. U moru svaštarija budite originalni i jedinstveni, budite inovativni i svojstveni, poklonite im nezaboravne trenutke uživanja na velikom platnu omiljenog bioskopa uz najnovije filmske hitove. Poklonite im smeh do suza, romantičnu šetnju pored reke, vratite ih u detinjstvo uz animirane naslove, držite ih za ruku kada se iza ugla pojavi strašno čudovište...uživajte u svakoj emociji koju vaš jedinstveni poklon nosi.Poklonite im Bioskop poklon karticu! Na vama je samo da odaberete, a „mašnu” na vaš savršeni poklon dodajemo mi.</p>
<p>Kako filmsko uzbuđenje ne bi prošlo bez osveženja, neizostavnih kokica i slatkih trenutaka u bioskopu, uz Bioskop poklon karticu pripremili smo i vaučere za meni po cenama od 350 i 700 dinara kojim ćete upotpuniti vaš savršeni novogodišnji poklon.</p>
<p>MENI 1 - 350 RSD	= 0,5l točeno piće M kokice Snickers 51g</p>
<p>MENI 2 - 700 RSD = 2x 0,75l točeno piće ili Rosa 0,5l XL kokice Medeno srce 150g</p>
<p>Minimalnim iznosom od 1.000 dinara imate priliku da poklonite voljenoj osobi Bioskop poklon karticu za potpuno uživanje u najaktuelnijim naslovima. Nakon što iskoristite sva sredstva, karticu možete ponovo dopuniti istim ili iznosom većim od 1.000 dinara (u koracima od po 500 dinara). Maksimalni iznos uplate iznosi 5.000 dinara. Poklon kartica važi isključivo za kupovinu ulaznica u periodu od tri godine. </p>
<p>Bioskop poklon karticu i vaučer za meni moguće je preuzeti na blagajnama bioskopa.</p>