@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Kontaktirajte nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Banatska 73a<br />
    Zemun, 11080 Beograd<br />
    <abbr>Tel:</abbr>
    333.444.5656
</address>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d353.53328718589717!2d20.3776698!3d44.8568733!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a65d48cd58b91%3A0x7c04cb612a635873!2sBanatska+73%2C+Beograd!5e0!3m2!1sen!2srs!4v1518773376061" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<address>
    <strong>Podrška:</strong>   <a href="mailto:Podrska@example.com">Podrška@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>