@{
    ViewBag.Title = "Pocetna";
}

<div class="jumbotron" style="background-image: url('../../Content/Slike/bioskop-div1.jpg'); background-size:contain; ">
    <h1>Vesti</h1>
    <p class="lead" style="float:left;">PONOVO RADI BIOSKOP!!!</p>
    <br />
</div>

<div class="row" >
    <div class="col-md-4">
        <h2>KOKO crtani film u Bioskopu uskoro</h2>
        <div id="video" style="width:350px; height:300px;">
            <video controls="controls" style="width:350px; height:300px;">
                    <source src="~/Content/Najave/Koko/KOKO%20(COCO)%20-%20TREJLER.mp4" type="video/mp4" />
                </video>
        </div>
        <div id="najavaSlika" style="width:350px; height:600px; clear:both; margin-top:110px;">
            <img src="~/Content/Najave/Koko/Koko.jpg" style="width:350px; height:518px" />
        </div>
        <p>
            Uprkos decenijskoj zabrani muzike u njegovoj porodici,
            Migel sanja da postane uspešni muzičar poput njegovog idola,
            Ernesta de la Kruza . U očajničkim nastojanjima da dokaže
            svoj talenat, Migel će se naći u zadivljujućoj i šarenoj Zemlji
            mrtvih usled niza misterioznih događaja.
            Usput će upoznati šarmantnog prevaranta i zajedno će krenuti na
            uzbudljivo putovanje ne bi li saznali pravu istinu koja stoji iza Migelove
            porodične istorije.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Najava: Snima se nastavak KENGURA</h2>
        <div id="video" style="width:350px; height:300px;">
            <video controls="controls" style="width:350px; height:300px;">
                    <source src="~/Content/Najave/Kengur/Kengur.mp4" type="video/mp4" />
                </video> 
        </div>
        <div id="najavaSlika" style="width:350px; height:600px; clear:both; margin-top:110px;">
            <img src="~/Content/Najave/Kengur/Kengur.jpg" style="width:350px; height:518px" />
        </div>
        <p>
            Prvi deo „Kengura“ govori o mladim ljudima koji su na granici
            prelaska u srednje godine, a nisu uradili ništa konkretno u svom životu.
            Radnja prati tri međusobno isprepletene paralelne priče
            koje se odigravaju na beogradskoj opštini Voždovac.
            U nastavku ćemo verovatno videti šta je bilo s omiljenim junacima
            Kengurom, Bracom, Iris, Sumporom, Živcem i drugima.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Prisećamo se: Bilo jednom na Divljem Zapadu</h2>
        <div id="video" style="width:350px; height:300px;">
            <video controls="controls" style="width:350px; height:300px;">
                    <source src="~/Content/Najave/Once%20Upon/Once%20Upon%20A%20Time%20In%20The%20West%20-%20Trailer%20(1).mp4" type="video/mp4" />
            </video>
        </div>
        <div id="najavaSlika" style="width:350px; height:600px; clear:both; margin-top:110px;">
            <img src="~/Content/Najave/Once Upon/Once.jpg" style="width:350px; height:518px" />
        </div>
        <p>
            Priča o misterioznom strancu sa harmonikom, koji se pridružuje jedinici
            sa ozloglašenim desperadoom, kako bi zaštitio prelepu udovicu od ubice koji
            radi na pruzi... Film snimljen pre tačno 50 godina daleke 1968. nalazi se
            na 33. mestu na IMDB najpoznatijoj svetskoj listi, najboljih filmova.
            Svaka reč je suvišna njegova pozicija nakon 50 godina govori za sebe!
        </p>
    </div>
</div>